<div class="grid-container">
    <h1 class="mat-h1">Ejemplo para NoSQL - Firebase </h1>
    <mat-grid-list cols="2" rowHeight="350px">
        <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                        {{card.title}}
                        <button mat-icon-button class="more-button" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>

                    </mat-card-title>
                </mat-card-header>

                <mat-card-content class="dashboard-card-content">

                    <div *ngIf="card.id === 1">
                        <mat-list>
                            <div mat-subheader>Usuarios nuevos del sistema</div>
                            <mat-list-item *ngFor="let item of items | async">
                                <mat-icon mat-list-icon>person</mat-icon>
                                <div mat-line>{{item.email}}</div>
                                <div mat-line> {{item.name}} </div>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                        </mat-list>

                    </div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>